<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="flex flex-col bg-gray-800 min-h-screen items-center gap-4 text-white p-5">
        <h1 class="bg-green-500 text-xl p-5 rounded-xl">All User</h1>
        <div class="flex flex-col gap-4">
            <%users.forEach(function(user){ %>
                <div class="border-2 border-white p-4 rounded-lg flex flex-col gap-2">
                    <h2 class="text-lg font-bold">Name: <%= user.name %>
                    </h2>
                    <p class="text-md">Email: <%= user.email %>
                    </p>
                    <p class="text-md">Age: <%= user.age %>
                    </p>
                    <div class="flex flex-row gap-2">
                        <a class="bg-red-400 hover:bg-red-600 p-2 rounded w-fit" href="/login">
                            login User
                        </a>
                    </div>
                </div>
                <% }) %>
        </div>
        <a href="/">Create User</a>
    </div>
</body>

</html>